@import url('./carousel.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Variables */
:root {
    --header-grey: #121212;
    --primary-bg: #000000;
    --primary-white: #ffffff;
    --primary-grey: #1A1A1A;
    --text-yellow: #F5C518;
}

/* Base */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--primary-bg);
    max-width: 100%;
}

main {
    /* width: 1280px; */

}

/* Utils */

.center {
    margin: 0 auto;
}

.d-none {
    display: none;
}

/* Header */
.header {
    background-color: var(--header-grey);
    width: 100%;
    padding: 1.5rem;
    z-index: 999;
}

.header__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    width: 150px;
    background-color: yellow;
}

.header__form {
    width: 100%;
    display: flex;
    justify-content: center;
}

.header__input {
    width: 50%;
    padding: 1rem;
    border-radius: 2rem 0 0 2rem;
    border: none;
}

.header__form-btn {
    border-radius: 0 2rem 2rem 0;
    width: 5rem;
    border: none;
    cursor: pointer;
}

.header__fav-btn {
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--text-yellow);
    background: none;
    border: none;
    cursor: pointer;
}

.index-grid{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    /* grid-template-columns: 1fr; */
    /* grid-template-columns: repeat(auto-fit, minmax(250px 1fr)); */
    gap: 3rem 2rem;
    padding: 5rem 10rem 10rem 10rem; /* space emellan korden */

}

.moviePage {
    text-align: center;
    gap: 3rem 2rem;
    max-width: 1200px;


}

h1{
    color: var(--text-yellow);
    font-size: 30px;
    grid-column: 1 / -1;
    /* grid-column:span 4; */
    text-align: center;
}



h2{
    margin: 1rem;
    font-size: 15px;
    text-align: center;
}

h5 {
    margin: 0rem 0rem 1rem 0rem;
    text-align: start;
    font-size: 15px;
}

p {
    font-size: 15px;
    text-align: start;
    align-self: center;

}
.content-wrapper {
    margin: 0 auto;
    width: 100%;
}



.movie-card-img {
    width: 100%;
    height: 100%;
    /* aspect-ratio: 2/ 3; */
    object-fit: cover;
    border-top-left-radius : 0.8rem;
    border-top-right-radius : 0.8rem;
    cursor: pointer;
}

.movie-card-img--storlek {
    object-fit: cover;
    border-top-left-radius : 0.8rem;
    border-bottom-left-radius : 0.8rem;
    border-top-right-radius : 0rem;

}

.movie-card-button:hover{
    
    
    color: #F5C518;
    background-color: #1A1A1A;
    
    
    
}

.movie-card-button{
    
    /* aspect-ratio: 1; */
    color: var(--primary-bg);
    font-weight: 800;
    background-color:var(--text-yellow);
    margin: .5rem;
    padding: .5rem 1rem .5rem 1rem;
    border-radius: 0.8rem;
    cursor: pointer;
    border: .2rem solid var(--primary-grey)
}


.movie-card {
    height: 100%;
    background-color: rgb(132, 132, 132);
    border-radius: 0.8rem;
    
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    object-fit: cover;


}


.movie-card:hover {
    background: var(--text-yellow);
}

.movie-card--no-hover {
    cursor: default;
    background-color: rgb(132, 132, 132);

}

.movie-card--vertical {
    display: flex;
    flex-direction: column;
}



.movie-card--horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 7rem;
    max-width: 900px;


}



.movie-card-text-wrapp {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
}


.movie-card-title--black{
    color: var(--primary-bg);
    text-align: left;
    margin: 1rem 0rem 1rem 0rem;
}

.movie-card-Title {
    margin: 0.5rem 0rem 0.5rem 1rem;
    text-align: left;
    color: var(--primary-bg);
}

.movie-card-info{
    margin:  2rem 1rem 1rem 0rem;
}


/* @MEDIA */
@media (max-width: 1100px) {
    .index-grid {
        grid-template-columns: repeat(2, 1fr);

    }


    .movie-card--horizontal{
        margin: 2rem;
    }
   
}

@media (max-width: 600px) {
    .index-grid {
        grid-template-columns: 1fr;
    }
    

    .trailers{
        display: none;
    }

    .index-grid{
        padding: 2rem;
    }

    .movie-card{
        height: auto;
        
        
    }
    .header__flex{
        flex-direction: column;
        gap: 1rem;
    }

    h1{
        font-size: 20px;
    }

    button {
        font-size: 80%;
        width: 80%;
        height: 5rem;
    }

    .movie-card--horizontal{
        margin: 2rem;
        flex-direction: column;
    }

    p{
        font-size: 12px;
    }

    .movie-card-text-wrapp{
        margin: .5rem
    }

    
}

